[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Adam Mohammed
	email = amohammed@linode.com
[core]
	excludesfile = /home/amohammed/.gitignore
