[user]
	name = Adam Mohammed
	email = zadammo@protonmail.com
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEvk2a3W5s+lXcL47vKz6liMBHTxElMAj0gqNslWY1z+

[commit]
	gpgsign = true

[url "ssh://git@github.com/equinixmetal"]
	insteadOf = https://github.com/equinixmetal
[init]
	defaultBranch = main
[tag]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/admohammed/.config/git/allowed_signers
