[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Adam Mohammed
	email = amohammed@linode.com
	signingKey = 4014A04F35BC1D95
[core]
	excludesfile = /home/amohammed/.gitignore
[commit]
	gpgSign = true
